html {
    scroll-behavior: smooth;
}
.closer {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    color: #84A7B3;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.4s;
    float: right;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
}


.closer:hover {
    color: #74939E;
    text-decoration: none;
    transition: all 0.4s;
}

.modal-content {
    background-color: rgb(14,14,14);
    border-radius: 14px;
}

.miniatura {
    margin-top: 15px;
    border-radius: 20px;
    transition: 0.4s;
}
.miniatura:hover {
    margin-top: 15px;
    border-radius: 5px;
    transition: 0.4s;
}

.title-building {
    color: rgb(224,231,238) !important;
    font-size: 15px;
    margin-bottom: 30px;
}

.title-building:hover {
    color: #84CAE0 !important;
    transition: all 0.4s;
    margin-bottom: 30px;
}

.buildimage {
    border-radius: 40px;
    transition: 0.4s;
}
.buildimage:hover {
    border-radius: 5px;
    transition: 0.4s;
}

.header-buildings {
    margin-bottom: 5px;
    color: rgb(224,231,238);
}

header {
    background: linear-gradient(rgba(0,0,0,0.24) 0%, rgb(4,14,16)), url('https://cdn.discordapp.com/attachments/594484981930262555/802120117936717834/render-final.png') top / cover no-repeat;
}

.designer {
    background-color: rgb(52,59,61);
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    color: #48C4EA;
    border-radius: 40px;
    transition: 0.4s;
}

.designer:hover {
    background-color: rgb(52,59,61);
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    color: #48C4EA;
    border-radius: 40px;
    transition: 0.4s;
}
.media-ico {
    margin-bottom: 15px;
}
@media only screen and (max-width: 773px) {
    .floating-logo-right img {
        height: 65% !important;
        width: 65% !important;
    }
}

.mediar {
    color: #0189B5;
    transition: all 0.5s;
    font-size:14px
}

.mediar:hover {
    color: #48C4EA;
    transition: all 0.5s;
}

body {
	background: #333;
}


*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

body2 {
  height:100vh;
  width:100vw;
  background-color:rgb(19, 20, 22);
  overflow:hidden;
  font-family: Lato, "Trebuchet MS", "Verdana", "sans-serif";
}

#shop {
  width: 150px;
  height:50px;
  border-radius:180px;
  position:relative;
  left:calc(50% - 75px);
  top:calc(50% - 25px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  cursor:pointer;
  line-height:12px;
}

#shop:before {
  content:'';
  z-index:1;
  position:absolute;
  display:block;
  width:80%;
  height:70%;
  top:15%;
  left:10%;
  transition: 0.3s opacity ease-in-out;
  filter:blur(15px);
  opacity:0;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

#shop:hover:before {
  opacity:1;
  transition: 0.3s opacity ease-in-out;
  filter:blur(25px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);  
}

#shop:after {
  content:'Shop';
  text-align:center;
  line-height:40px;
  font-size:18px;
  color:rgba(235,235,235,1);
  font-weight:bold;
  z-index:5;
  position:absolute;
  display:block;
  border-radius:180px;
  width:92%;
  height:80%;
  top:10%;
  left:4%;  
  background-color:rgb(19, 20, 22);
}
